@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в наш блог.</h1>
    <p>
        Тут вы можете найти статьи для прочтения
        или добавить свои, предварительно зарегистрировавшись :) Удачного просмотра
    </p>
</div>
