
.frm {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

/*.field-validation-error {
    color: #dc3545;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #dc3545;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: red;
}

.validation-summary-valid {
    display: none;
}
*/
